/* top开始 */
	.top{
		 height: 620px;
		 width: 100%;
	}
	.top img{
		width: 100%;
		height: 100%;
	}
/* top结束 */
/* header开始 */
	.header{
		height: 3583px;
		background-color: #bb1a39;
	}
	.header .sj img{
		width: 854px;
		height: 434px;
		margin-left: 339px;
		float: left;
		position: relative;
		border-right: 1px solid #ccc;
		box-sizing: border-box;
	}
	.container .sjjs{
		width: 372px;
		height: 434px;
		background-color: #fff;
		float: left;
		margin-left: 1193px;
		position: absolute;
		padding-left: 20px;
	}
	.container .sjjs span{
		padding-top: 111px;
		line-height: 250px;
	}
	.container .sjjs .sjjs-p1{
		font-size: 13px;
		color: #5f5965;
		margin-top: -100px;
	}
	.container .sjjs .sjjs-p2{
		font-size: 22px;
		color: #f55e67;
		margin-top: 60px;
		margin-left: 10px;
	}
	.product{
		float: left;
		position: absolute;
		margin-top: 449px;
		margin-left: 339px;
	}
	.container .sjjs .button{
		text-align: center;
		line-height: 44px;
		width: 160px;
		height: 44px;
		color: #fff;
		background-color: #eb625c;
		font-size: 19px;
		margin-left: 10px;
		margin-top: 10px;
	}
	.container .product-list-left .product-list-item{
		height: 492px;
		width: 618px;
		background-color: #fff;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.product .sjjs-p1,
	.sj-item{
		color: #222423;
		font-size: 23px;
	}
	.product .sjjs-p1{
		font-size: 13px;
		color: #7c6471;
	}
	.container .product-list-left .product-list-item img{
		width: 608px;
		height: 381px;
	}
	.container .product-list-left .product-list-item .button1{
		width: 160px;
		height: 44px;
		color: #fff;
		background-color: #eb625c;
		text-align: center;
		line-height: 44px;
		margin-left: 401px;
		margin-top: 10px;
	}
	.container .product-list-left .product-list-item .sj-item,
	.sjjs-p1{
		margin-left: 28px;
	}
	.container .product-list-left .product-list-item .sjjs-p2{
		margin-left: 435px;
		margin-top: -60px;
	}
	.container .product-list-left .product-list-item .sjjs-p22{
		margin-left: 480px;
		margin-top: -60px;
	}
	.container .product-list-left .product-list-item .sjjs-p2 .sjjs-p2yj{
		font-size: 12px;
		color: #5d646a;
	}
	.header img{
		width: 100%;
		height: 100%;
	}
/* header结束 */
/* hand开始 */
	.hand{
		height: 2157px;
		background-color: pink;
	}
	.hand img{
		width: 1920px;
		height: 202px;
	}
/* hand结束*/
/* body开始 */
	.body{
		height: 1635px;
		background-color: skyblue;
	}
/* body结束 */
/* botttom开始 */
	.bottom{
		height: 2142px;
		background-color: purple;
	}
/* botttom结束 */
/* footer开始 */
	.footer{
		height: 1651px;
		background-color: tomato;
	}
/* footer结束 */
/* shose开始 */
	.shose{
		height: 1224px;
		background-color: gray;
	}
/* shose结束 */